.face-container {
    width: 100px;
    height: 100px;
}

img.face-clip {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}



/*
 * Axis
 */

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}