/* Navigation */

.blue-gradient
{
    width: 100%;
    border-radius: 6px;
    background: -webkit-linear-gradient(#3d579e, #89c4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3d579e, #89c4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3d579e, #89c4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3d579e, #89c4f4); /* Standard syntax */
}

.nav-container {
    padding-top: 10px;
    padding-right: 50px;
}

#nav-text {
    padding-top: 5px;
    font-weight: bold;
}

.logo-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.logo-text {
    width: 350px;
    padding-bottom: 10px;
}

@media (max-width:992px){
    .logo-text {
        width: 250px;
    }
}
@media(max-width:767px){
    .logo-text {
        width: 150px;
    }
}

.nav > li > a {
    color: darkgrey;
}



/* Override Bootstrap */
.jumbotron {
    margin-top: 15px;
    background: rgba(255,255,255,0.6);
    text-align: center;
}

/* Home */
.center-map {
    margin: 0 auto;
    width: 500px;
    height: 574px;
}

.cite {
    color: gray;
    float: right;
    margin: 10px;
}

/* === */

.face-container {
    width: 100px;
    height: 100px;
}

img.face-clip {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.profilo_deputato {
    float: left;
    width: 33.3%;
    padding:10px 0px 0px 10px;
}

.scrollable{
    width: 100% !important;  width /**/:200px;
    height:190px !important; height /**/: 200px;
    padding: 4px;
    border:0px solid #EEE; 
    border-right:0 solid;
    overflow:auto
}

.column1{
    width: 33.3%;
    float: left;
}

.profilo_deputato div{
    width: 100%;
}


/*
 * Deputato Page
 */
.face-table
.face-table, th, td
{
    border: 1px  #222;
    border-radius: 20px;
    border-top-style:dotted ;
    border-right-style:dotted ;
    border-bottom-style:dotted ;
    border-left-style: dotted solid;
    border-style:dotted ;
    padding: 5px  #babec3;
    column-rule-style:dotted;
    text-align: center;
}


body
{
	background: url('../img/sfondo_mix.jpg') no-repeat;
}





.footer{
	background: url('../img/footer.png') no-repeat;
	width: 650px;
	height: 30px;
	color: #222;
	border-radius: 15px;
	text-align: center;
	margin:0 auto;
	font-size: 16px;
}

.footer a{
	color: #FFF;
	text-decoration: none;
}
.footer a:hover{
	color: red;
}

/*Didascalia per immagine Wikipedia*/


div.captionbox{float: left;margin: 10px;border: 1px solid #999}
div.captionbox img{border:0;display:block}
div.captionbox a{position: relative;float: left;color: #FFF;
    text-decoration: none}
div.captionbox span{position:absolute;bottom: 0;width: 100%;padding: 3px 0;
    background: url(img/opacity.png) repeat-x 0 -100px;
    cursor: pointer;text-align: center}
div.captionbox a:hover span{background-position: 0 -200px}
