<h1>Level 3</h1>

<h2>Profilo deputato</h2>
<div class="profilo_deputato" >
    <ul ng-repeat="record in deputato_full">
        <img src="{{record.img.value}}" alt="{{record.cognome.value}} {{record.nome.value}}"> <br />
        Nome: {{record.nome.value}} <br />
        Cognome: {{record.cognome.value}} <br />
        Data di nascita: {{record.dataNascita.value}} <br />
        Luogo di nascita: {{record.luogoNascita .value}} <br />
        Commissione: {{record.commissione.value}} <br />
        Sesso: {{record.categoryY.value}} <br />
        Partito: {{record.categoryX.value}} <br />
        Twitter : <a href="{{record.twitter.value}}">LINK</a> <br />
        Facebook: <a href="{{record.facebook.value}}">LINK</a> <br />
        YouTube: <a href="{{record.youtube.value}}">LINK</a> <br />
    </ul>
</div>

<div class="column1">
    <h2>Atto - {{atto_count}}</h2>
    <div class="scrollable">
        <ul ng-repeat="row in atto_result">
            <li><a ng-href="{{row.atto.value}}">{{row.nomeAtto.value}}</a></li>
        </ul>
    </div>
</div>

<div class="column1">
    <h2>Atti di indirizzo e controllo - {{aic_count}}</h2>
    <div class="scrollable">
        <ul ng-repeat="row in aic_result">
            <li><a ng-href="{{row.aic.value}}">{{row.title.value}}</a></li>
        </ul>
    </div>
</div>

<div class="column1">
    <h2>Interventi - {{intervento_count}}</h2>
    <div class="scrollable">
        <ul ng-repeat="row in intervento_result">
            <li><a ng-href="{{row.intervento.value}}">{{row.intervento.value}}</a></li>
        </ul>
    </div>
</div>

<div class="column1">
    <h2>Leggi - {{leggi_result.length}}</h2>
    <div class="scrollable">
        <ul ng-repeat="row in leggi_result">
            <li><a ng-href="{{row.legge.value}}">{{row.nomeAtto.value}}</a></li>
        </ul>
    </div>
</div>