<nav-menu></nav-menu>

<div class="jumbotron">
    <table class="table table-hover table-contact">
        <tr>
            <td class="contact-logo">
                <a href="https://www.facebook.com/Camera4Dummies" target="_blank">
                    <i class="fa fa-facebook-square fa-5x"></i>
                </a>
            </td>
            <td class="contact-text">
                <a href="https://www.facebook.com/Camera4Dummies" target="_blank">
                    https://www.facebook.com/Camera4Dummies
                </a>
            </td>
        </tr>
        <tr>
            <td class="contact-logo">
                <a href="https://twitter.com/intent/tweet?screen_name=Camera4Dummies" target="_blank">
                    <i class="fa fa-twitter-square fa-5x"></i>
                </a>
            </td>
            <td class="contact-text">
                <a href="https://twitter.com/Camera4Dummies" target="_blank">
                    @Camera4Dummies
                </a>
            </td>
        </tr>
        <tr>
            <td class="contact-logo">
                <a href="mailto:camera4dummies@googlegroup.com" target="_blank">
                    <i class="fa fa-envelope fa-5x"></i>
                </a>
            </td>
            <td class="contact-text">
                <a href="mailto:camera4dummies@googlegroup.com" target="_blank">
                    camera4dummies@googlegroup.com
                </a>
            </td>
        </tr>
    </table>
</div>
