<nav-menu></nav-menu>

<div class="jumbotron">
    <table class="table table-hover table-condensed table-bordered" cellpadding="1" width="100%">
        <tr>
            <td ng-repeat="(itemX, count) in xValues">
                <p style="font-size:20px;"><b>{{itemX}}</b></p>
            </td>
        </tr>
        <tr ng-repeat="(itemY, count) in yValues">
            <td ng-repeat="(itemX, count) in xValues">
                <span class="face-container" ng-repeat="row in result2[itemX][itemY]">
                    <a ng-href="#atto?deputato={{row.refid}}">
                        <circle-image width="70px" height="70px" src="{{row.img}}" />
                    </a>
                </span>
            </td>
        </tr>
    </table>
</div>

<script id="select_deputato" type="text/ng-template">
    SELECT
        distinct ?deputato ?nome ?cognome ?img ?categoryY ?categoryX
    WHERE {
        ?deputato a ocd:deputato;
            ocd:rif_leg <{{legislatura_uri}}>;
            foaf:firstName ?nome; foaf:surname ?cognome;
            foaf:gender ?categoryY; foaf:depiction ?img;
            ocd:rif_mandatoCamera ?mandato;
            ocd:aderisce ?aderisce .

        ?aderisce ocd:rif_gruppoParlamentare ?gruppo .
        ?gruppo <http://purl.org/dc/terms/alternative> ?categoryX .

        ?mandato ocd:rif_elezione ?elezione . ?elezione dc:coverage "{{collegio}}" .

        FILTER NOT EXISTS{
            ?mandato ocd:endDate ?date
        }
        MINUS{
            ?aderisce ocd:endDate ?fineAdesione
        }
    }

</script>