<nav-menu></nav-menu>

<div class="jumbotron">
    <h2 class="main-text">The Team with Passion for Coding</h2>
    <img class="img-responsive" src="img/team.jpg">

    <div class="contact-container">
        <div class="row">
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Simone Aristotile</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://twitter.com/IamFrancesco" target="_blank">
                    <span class="label label-default label-link">Francesco Benedetto</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Camelia Boban</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://twitter.com/LeGentz_" target="_blank">
                    <span class="label label-default label-link">Leandro Gentili</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Flavio Fabi</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://plus.google.com/+LuciaFazio/" target="_blank">
                    <span class="label label-default label-link">Lucia Fazio</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.linkedin.com/pub/maria-beatrice-wierusz-kowalska/11/aa5/9a6" target="_blank">
                    <span class="label label-default label-link">Maria Beatrice Kowalska</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://plus.google.com/+GiovanniLaquidara/" target="_blank">
                    <span class="label label-default">Giovanni Laquidara</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="https://plus.google.com/+MarcosLin/" target="_blank">
                    <span class="label label-default label-link">Marcos Lin</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Angelo Passariello</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Antonio Scardigno</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="http://it.linkedin.com/in/serafinosorleti" target="_blank">
                    <span class="label label-default label-link">Serafino Sorleti</span>
                </a>
            </div>
        </div>
    </div>

</div>
