<div class="header blue-gradient">
    <div class="pull-right">
        <div class="nav-container">
            <ul class="nav nav-pills">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#/Team">Team</a></li>
                <li><a href="#/Contact">Contact</a></li>
            </ul>
        </div>
        <p class="lead" ng-bind="navigationText"></p>
    </div>

    <div class="logo-container">
        <a href="#"><img src="img/logo.png"></a>
        <img class="logo-text" src="img/Camera4Dummies.svg">
    </div>

</div>
