<nav-menu></nav-menu>

<div class="jumbotron">
    <div class="row">
        <!-- Column 1 -->
        <div class="col-md-4">
            <div class="bio-container">
                <img src="{{deputato_full.img.value}}" alt="{{deputato_full.name.value}}">
                <h4>{{deputato_full.name.value}}</h4>
                <h5>{{deputato_full.description.value}}</h5>

                <table class="table table-hover table-condensed">
                    <tr>
                        <th>Data di nascita:</th>
                        <td>{{deputato_full.dataNascita.value | birthDate}}</td>
                    </tr>
                    <tr>
                        <th>Luogo di nascita:</th>
                        <td>{{deputato_full.luogoNascita .value}}</td>
                    </tr>
                    <tr>
                        <th>Sesso:</th>
                        <td>{{deputato_full.gender.value | gender}}</td>
                    </tr>
                    <tr>
                        <th>Partito:</th>
                        <td>{{deputato_full.gruppo_label.value}}</td>
                    </tr>
                    <tr>
                        <th>Commisione:</th>
                        <td></td>
                    </tr>
                    <tr ng-repeat="comm in deputato_commissione">
                        <td colspan="2" class="commissione-text">- {{comm}}</td>
                    </tr>
                </table>

                <div class="social-container">
                    <div ng-show="deputato_full.twitter.value">
                        <a ng-href="{{deputato_full.twitter.value | twitterIntent}}" id="directTwitter" target="_blank">
                            <i class="fa fa-twitter-square fa-4x"></i>
                        </a>
                    </div>
                    <div ng-show="deputato_full.facebook.value">
                        <a href="{{deputato_full.facebook.value}}" target="_blank">
                            <i class="fa fa-facebook-square fa-4x"></i>
                        </a>
                    </div>
                    <div ng-show="deputato_full.youtube.value">
                        <a href="{{deputato_full.youtube.value}}" target="_blank">
                            <i class="fa fa-youtube-play fa-4x"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!-- Column 2 -->
        <div class="col-md-4">
            <div class="row table-container table-fixed-size">
                <table class="table table-hover">
                    <caption>Atti <span class="badge">{{atto_count}}</span></caption>
                    <tr ng-repeat="row in atto_result">
                        <td>
                            <a ng-href="{{row.atto.value}}">{{row.nomeAtto.value | ellipsis}}</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row table-container table-fixed-size">
                <table class="table table-hover">
                    <caption>Atti di indirizzo e controllo <span class="badge">{{aic_count}}</span></caption>
                    <tr ng-repeat="row in aic_result">
                        <td>
                            <a ng-href="{{row.aic.value}}">{{row.title.value | ellipsis}}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Column 3 -->
        <div class="col-md-4">
            <div class="row table-container table-fixed-size">
                <table class="table table-hover">
                    <caption>Interventi <span class="badge">{{intervento_count}}</span></caption>
                    <tr ng-repeat="row in intervento_result">
                        <td>
                            <a ng-href="{{row.intervento.value}}">{{row.intervento.value | ellipsis}}</a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row table-container table-fixed-size">
                <table class="table table-hover">
                    <caption>Leggi <span class="badge">{{leggi_result.length}}</span></caption>
                    <tr ng-repeat="row in leggi_result">
                        <td>
                            <a ng-href="{{row.lex.value}}" target="_blank">{{row.nomeAtto.value | ellipsis}}</a>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>


<script id="select_atto" type="text/ng-template">
SELECT DISTINCT
    ?atto ?nomeAtto ?primo_firmatario ?altro_firmatario
WHERE {
    ?atto a ocd:atto; dc:title ?nomeAtto
    {
        ?atto ocd:primo_firmatario <{{deputato}}>;
        dc:date ?primo_firmatario
    }
UNION
    {
        ?atto ocd:altro_firmatario <{{deputato}}>;
        dc:date ?altro_firmatario
    }
}
</script>

<script id="select_aic" type="text/ng-template">
SELECT DISTINCT
    ?aic ?title ?primo_firmatario ?altro_firmatario
WHERE {
    ?aic a ocd:aic;
    ocd:rif_leg <{{legislatura_uri}}>;
    dc:title ?title .
    {
        ?aic ocd:primo_firmatario <{{deputato}}>;
        dc:identifier ?primo_firmatario
    }
    UNION
    {
        ?aic ocd:altro_firmatario <{{deputato}}>;
        dc:identifier ?altro_firmatario
    }
}
</script>

<script id="select_intervento" type="text/ng-template">
SELECT DISTINCT
    ?intervento ?interventoRif
WHERE {
    ?intervento a ocd:intervento;
    ocd:rif_deputato <{{deputato}}>;
    dc:title ?interventoRif
}
</script>

<script  id="select_legge" type="text/ng-template">
SELECT DISTINCT * WHERE { ?atto a ocd:atto . { { ?atto ocd:primo_firmatario <{{deputato}}> } UNION { ?atto ocd:altro_firmatario <{{deputato}}> } <{{deputato}}> a ocd:deputato } ?atto dc:title ?nomeAtto . ?atto dc:description ?descrizioneAtto . ?legge a ocd:legge; ocd:lex ?lex; ocd:rif_leg <{{legislatura_uri}}> . ?legge ocd:lavoriPreparatori [?lavoro ?atto] } 
</script>

<script  id="select_bio" type="text/ng-template">
SELECT DISTINCT
    ?name ?description ?dataNascita ?luogoNascita ?img ?gender ?gruppo_label ?twitter ?facebook ?youtube
WHERE {
    <{{deputato}}> a ocd:deputato;
        foaf:depiction ?img;
        ocd:rif_leg <{{legislatura_uri}}>;
        ocd:rif_mandatoCamera ?mandato;
        ocd:aderisce ?aderisce .

    ?persona ocd:rif_mandatoCamera ?mandato;
        a foaf:Person;
        dc:title ?name;
        foaf:gender ?gender

    OPTIONAL {
        <{{deputato}}> dc:description ?description
    }

    OPTIONAL{
        ?persona bio:Birth ?nascita .
        ?nascita bio:date ?dataNascita; ocd:rif_luogo ?luogoNascitaUri .
        ?luogoNascitaUri dc:title ?luogoNascita
    }
    OPTIONAL{
        ?persona foaf:account ?accountTw .
        ?accountTw foaf:accountServiceHomepage ?twitter .
        FILTER(REGEX(STR(?twitter),'twitter.com'))
    }
    OPTIONAL{
        ?persona foaf:account ?accountFb .
        ?accountFb foaf:accountServiceHomepage ?facebook .
        FILTER(REGEX(STR(?facebook),'facebook.com'))
    }

    OPTIONAL{
        ?persona foaf:account ?accountYt .
        ?accountYt foaf:accountServiceHomepage ?youtube .
        FILTER(REGEX(STR(?youtube),'youtube.com'))
    }

    ?aderisce ocd:rif_gruppoParlamentare ?gruppo .
    ?gruppo <http://purl.org/dc/terms/alternative> ?gruppo_label .
    MINUS{
        ?aderisce ocd:endDate ?fineAdesione
    }
}
</script>

<script  id="select_commissione" type="text/ng-template">
SELECT DISTINCT
    ?commissione
WHERE {
    <{{deputato}}> a ocd:deputato; ocd:membro ?membro .
    ?membro ocd:rif_organo ?organo .
    ?organo dc:title ?commissione
    MINUS{
        ?membro ocd:endDate ?fineMembership
    }
}
</script>