<nav-menu></nav-menu>

<div class="jumbotron">
    <h2 class="main-text">The Team with Passion for Coding</h2>
    <img class="img-responsive" src="img/team.jpg">

    <div class="contact-container">
        <div class="row">
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Simone Aristotile</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Francesco Benedetto</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Camelia Boban</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Leandro Gentili</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Flavio Fabi</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Lucia Fazio</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Maria Beatrice Kowalska</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Giovanni Laquidara</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <a href="https://plus.google.com/+MarcosLin/" target="_blank">
                    <span class="label label-default label-link">Marcos Lin</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Angelo Passariello</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Antonio Scardigno</span>
                </a>
            </div>
            <div class="col-md-3">
                <a href="">
                    <span class="label label-default">Serafino Sorleti</span>
                </a>
            </div>
        </div>
    </div>

</div>
