<div class="header blue-gradient">
    <div class="beta-label">
        <div class="label label-warning">BETA</div>
    </div>


    <div class="pull-right">
        <div class="nav-container">
            <ul class="nav nav-pills">
                <li ng-class="fs.home_class"><a href="#">Home</a></li>
                <li ng-class="fs.team_class"><a href="#/team">Chi Siamo</a></li>
                <li ng-class="fs.contact_class"><a href="#/contact">Contatti</a></li>
                <li>

                </li>
            </ul>
        </div>
        <p class="lead" ng-bind="navigationText"></p>
    </div>

    <div class="logo-container">
        <a href="#">
            <div>
                <img class="logo-image" src="img/logo.svg">
                <img class="logo-text" src="img/Camera4Dummies.svg">
            </div>
        </a>
    </div>


</div>
