<div class="header blue-gradient">
    <div class="pull-right">
        <div class="nav-container">
            <ul class="nav nav-pills">
                <li ng-class="fs.home_class"><a href="#">Home</a></li>
                <li ng-class="fs.team_class"><a href="#/team">Team</a></li>
                <li ng-class="fs.contact_class"><a href="#/contact">Contact</a></li>
            </ul>
        </div>
        <p class="lead" ng-bind="navigationText"></p>
    </div>

    <div class="logo-container">
        <a href="#">
            <img class="logo-image" src="img/logo.svg">
            <img class="logo-text" src="img/Camera4Dummies.svg">
        </a>
    </div>

</div>
