/*
 * CORE SECTION
 */
body {
    background: url("../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* Override Bootstrap */
.jumbotron {
    margin-top: 15px;
    background: rgba(255,255,255,0.6);
    text-align: center;
}

/*
 * NAVIGATION
 */
#nav-text {
    padding-top: 5px;
    font-weight: bold;
}

.nav-container > .lead {
    color: #CAE0DD;
}

.nav > li > a {
    color: #A19793;
}

.blue-gradient {
    width: 100%;
    border-radius: 6px;
    background: -webkit-linear-gradient(#3d579e, #89c4f4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3d579e, #89c4f4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3d579e, #89c4f4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3d579e, #89c4f4); /* Standard syntax */
}

.nav-container {
    padding-top: 10px;
    padding-right: 5px;
}

.nav-responsive {
    font-size: 14px;
}
.nav-responsive > li > a {
    padding: 10px 15px;
}

.logo-container {
    padding-left: 20px;
    padding-right: 20px;
}

.logo-text {
    width: 400px;
    padding-bottom: 10px;
}
.logo-image {
    width: 100px;
    height: 100px;
}
@media (max-width:992px){
    .logo-image {
        width: 90px;
        height: 90px;
    }
    .logo-text {
        width: 280px;
    }
}
@media(max-width:767px){
    .logo-text {
        width: 180px;
    }
    .logo-image {
        width: 70px;
        height: 70px;
    }
    .nav-container {
        padding-top: 5px;
        padding-right: 20px;
    }
    .nav-responsive {
        font-size: 12px;
    }
    .nav-responsive > li > a {
        padding: 8px 12px;
    }
}

@media(max-width:640px) {
    .logo-text {
        visibility:hidden;
        width: 0;
        height: 0;
    }
    .logo-image {
        width: 60px;
        height: 60px;
    }
    .nav-container {
        padding-top: 3px;
        padding-right: 10px;
    }
    .logo-container {
        padding-left: 10px;
    }
    .nav-responsive > li > a {
        padding: 5px 8px;
    }
}

/*
 * HOME
 */
.message-container {
    margin: 5px -10px 10px -10px;
    border-radius: 10px;
    background-color: rgba(202, 224, 221, 0.3);
    border: 1px dotted #A19793;
}

.center-map {
    margin: 0px;
    width: 500px;
    height: 600px;
}

.welcome-text {
    font-size: 16px !important;
    padding-left: 10px;
    padding-right: 10px;
}

.welcome-text:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.help-container {
    position: absolute;
    right: 10px;
    padding-top: 2px;
    padding-right: 5px;
}
.help-container > a {
    color: #A19793;
}
.help-container > a:hover {
    color: #3d579e;
}

.cite {
    color: #CAE0DD;
    margin: 10px;
}

/*
 * TEAM
 */
h2.main-text,
.contact-container > .row > .col-md-2 > a {
    color: #3D579E;
}

h2.main-text {
    margin-top: 0px;
}

.contact-container {
    margin-top: 20px;
}

.contact-container > .row > .col-md-3 {
    padding: 7px;
}

.contact-container > .row > .col-md-3 > a {
    text-decoration: none;
}

.contact-container > .row > .col-md-3 > a > .label {
    font-size: 14px;
}

.contact-container > .row > .col-md-3 > a > .label-link:hover {
    background-color: #428bca;
}



/*
 * CONTACT
 */
table.table-contact > tbody > tr > td {
    vertical-align: middle;
}

table.table-contact > tbody > tr > td,
table.table-contact > tbody > tr > td > a {
    color: #3D579E;
    text-decoration: none;
}

.contact-logo {
    text-align: right;
    font-size: 20px;
}
.contact-text {
    text-align: left;
    font-size: 28px;
}

@media (max-width:992px){
    .contact-logo {
        font-size: 16px;
    }
    .contact-text {
        font-size: 20px;
    }
}

@media(max-width:580px) {
    .contact-logo {
        font-size: 12px;
    }
    .contact-text {
        font-size: 14px;
    }
}

/*
 * Deputato
 */
.face-container {
    display: inline;
}

.circle-image {
    width: 80px;
    height: 80px;
}

@media (max-width:992px){
    .circle-image {
        width: 70px;
        height: 70px;
    }
}

@media(max-width:640px) {
    .circle-image {
        width: 50px;
        height: 50px;
    }
}
@media(max-width:580px) {
    .circle-image {
        width: 30px;
        height: 30px;
    }
}
/*
 * ATTO
 */
.bio-container,
.table-container {
    padding-top: 10px;
    margin: 5px -10px 10px -10px;
    border-radius: 10px;
    background-color: rgba(202, 224, 221, 0.3);
    border: 1px dotted #A19793;
}

.bio-container > h4 {
    margin-bottom: 0px;
}

.bio-container > h5 {
    color: #7D7572;
    font-weight: normal;
    margin-top: 0px;
}

.bio-container > img {
    border-radius: 10px;
}

.table-fixed-size {
    height: 320px;
}

.table-container {
    overflow: hidden;
    padding: 10px;
}

.table-container:hover {
    overflow: auto;
}

.commissione-text {
    font-size: 10px;
    text-align: left;
}

/* Set the text of the link */
.table-container > .table > tbody > tr > td > a {
    color: #293B6B;
    font-size: 12px;
    width: 100%;
    overflow: hidden;
}

/* Set the table title */
.table-container > .table > caption {
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
}

/* Override bootstrap */
.table-container > .table,
.table-container > .table > tbody > tr > td {
    text-align: left;
    padding: 0;
}

.social-container {
    padding-bottom: 20px;
}

.social-container > div {
    display: inline-block;

}

/* Badge votes */
.badge.F{
  color: #fff;
  background-color: #1abc9c;
}
.badge.C{
  color: #fff;
  background-color: #e74c3c;
}
.badge.A{
  color: #222;
  background-color: #ecf0f1;
}
.badge.NP{
  color: #fff;
  background-color: #34495e;
}
